<!DOCTYPE html> {% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Index</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-warning">
        <a class="navbar-brand" href="">
            <i class="fa fa-check"></i> Eis a Questão
        </a>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="">Login</a>
            </li>
        </ul>
    </nav>


    <div class="content">
        <div class="container">
            <br> 
            {% block content %} 
            
            {% endblock %}
            <br>
        </div>
    </div>


    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Sign up</a>
                        </li>
                        <li>
                            <a href="#">Downloads</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li>
                            <a href="#">Company Information</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Reviews</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Help desk</a>
                        </li>
                        <li>
                            <a href="#">Forums</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Information</h5>
                    <p> Lorem ipsum dolor amet, consectetur adipiscing elit. Etiam consectetur aliquet aliquet. Interdum et malesuada
                        fames ac ante ipsum primis in faucibus. </p>
                </div>
            </div>
        </div>
        <div class="second-bar">
            <div class="container">
                <h2 class="logo">
                    <a href="#"> LOGO </a>
                </h2>
                <div class="social-icons">
                    <a href="#" class="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="google">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>