{% extends "base.html" %}

{% block content %}

{% load filtros %}

<form action="{% url 'filtrar' %}" method="post">{% csrf_token %}
    <div class="card">
        <div class="card-header">Questões de Concurso</div>
        <div class="card-body">
            <div class="form-row align-items-center">

                {% for field in filtro_form %}
                <div class="col-sm-3 my-1">
                    {{ field }}
                </div>
                {% endfor %}

                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </div>

        </div>
    </div>
</form>
<br>

{% for pergunta in perguntas %}
<div class="card">
    <div class="card-header text-muted">
        <b>Disciplina:</b> {{ pergunta.disciplina }}&nbsp;&nbsp;&nbsp;
        <b>Banca:</b> {{ pergunta.banca }}&nbsp;&nbsp;&nbsp;
        <b>Orgão:</b> {{ pergunta.orgao }}&nbsp;&nbsp;&nbsp;
        <b>Nível:</b> {{ pergunta.nivel }}&nbsp;&nbsp;&nbsp;
        <b>Ano:</b> {{ pergunta.ano }}&nbsp;&nbsp;&nbsp; 
    </div>
    <div class="card-body">
        <p class="card-text">
            <textarea class="form-control textarea-customizado" readonly>{{ pergunta.texto }}</textarea>
        </p>

        <table class="table sem_borda">
            {% for alternativa in pergunta.alternativa.all %}
            <tr>
                <td width="7%" height="50">
                    <input type="radio" name="{{ pergunta.id }}" id="{{ alternativa.id }}" value="{{ alternativa.id }}"> {{ forloop.counter|number_to_char }} )
                </td>
                <td>
                    <label for="{{ alternativa.id }}" class="label-alternativa">
                        {{ alternativa.texto }}
                    </label>
                </td>
            </tr>
            {% endfor %}
        </table>

        {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-warning text-white" onclick="responder('{{ pergunta.id }}')">Responder</button>
        {% else %}
            <button type="button" class="btn btn-warning text-white" data-toggle="modal" data-target="#modal_login">Responder</button>
        {% endif %}


    </div>
    <div class="card-footer text-muted">
        <span id="resposta_{{pergunta.id}}">
            <span class="float-right text-success {% feedback perfil=request.user.perfil.id pergunta=pergunta.id div='is_correta' %}"
                id="is_correta_{{pergunta.id}}">
                <i class='fa fa-check'></i> Parabéns, Você Acertou!
            </span>
            <span class="float-right text-danger {% feedback perfil=request.user.perfil.id pergunta=pergunta.id div='is_incorreta' %}"
                id="is_incorreta_{{pergunta.id}}">
                <i class='fa fa-close'></i> Você Errou!
                <span class="text-muted">alternativa correta: {{ pergunta.alternativa_certa|number_to_char }}</span>
            </span>
        </span>
    </div>
</div>
<br> {% endfor %}

<!-- Modal -->
<div class="modal fade" id="modal_login" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eis a Questão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você precisa estar logado para responder
            </div>
            <div class="modal-footer">
                <a href="{% url 'login' %}" type="button" class="btn btn-primary">Logar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_selecionar" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eis a Questão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você precisa selecionar uma opção
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

{% endblock %}